@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 226, 226);
}
/* For Webkit browsers like Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.react-multiple-carousel__arrow--right {
  z-index: 50 !important;
}
.react-multiple-carousel__arrow--left {
  z-index: 50 !important;
}
.img-container {
  padding-top: 13vh;
  width: 1400px;
  margin: auto;
  columns: 6;
  column-gap: 20px;
}
.img-container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.img-container .box img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}

img:hover {
  opacity: 0.95;
  box-shadow: 0 0 10px #fff;
}

.caption {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}

/* scrollbar in chatbox */

/* Add this to your stylesheet */
.scrollable-container {
  /* Your fixed width */
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 0.5rem; /* Set the width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the thumb */
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the track */
}
@media (max-width: 1427px) {
  .img-container {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px) {
  .img-container {
    columns: 4;
  }
}

@media (max-width: 1000px) {
  .img-container {
    columns: 3;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .l2 {
    opacity: 0;
  }

  .toggle .l3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 786px) {
  .img-container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .img-container {
    columns: 1;
  }
}
